@tailwind base;
@tailwind components;
@tailwind utilities;

/* .aqil {
  background-color: #1d232a !important;
}
.aqil2 {
  background-color: #374151 !important;
}
.aqil3 {
  background-color: #374151 !important;
} */

.aqil-4 {
  background: red;
  height: 25px !important;
}
.aqil5 {
  border-end-end-radius: 27px;
  border-start-end-radius: 27px;
}
.aqil5:active {
  outline: none;
  border: none;
}
